* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    box-sizing: border-box;
    background-color: #161616;
}

main {
    overflow: auto;
    position: relative;
    height: 100vh;
    border: 4px solid #fff;
}

.container {
    height: 100%;
    position: relative;
}

.weather-data {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 1000px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-data {
    font-family: 'Jaldi', sans-serif;
    font-size: 80px;
    letter-spacing: 1.2px;
}

.temp-id {
    font-size: 140px;
    padding: 0 5px;
    position: relative;
    top: 10px;
}

.main-temp, .second-temp {
    font-size: 48px;
    position: relative;
    bottom: 40px;
    margin-left: 10px;
    transition: all 0.2s ease-out;
}

.second-temp {
    opacity: 0.2;
}

.main-temp:hover, .second-temp:hover {
    opacity: 1 !important;
}

.temp-data-description {
    text-align: center;
}

.other-data {
    padding: 0;
    margin: 0 auto;
    border: 0;
    overflow: auto;
    display: inline-block;
    position: relative;
    top: 50px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.wind, .cloud, .location {
    overflow: auto;
    margin: 0 40px;
    float: left;
}

.wind-data-image, .cloud-data-image, .location-data-image {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 25px;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 28px;
    line-height: 54px;
    transition: all 0.6s;
}

.wind-data-image:hover, .cloud-data-image:hover, .location-data-image:hover {
    transform: rotateY(180deg);
}

.wind-data-description, .cloud-data-description, .location-data-description {
    font-family: 'Roboto', sans-serif;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 300;
}

i.icon-location {
    color: rgba(221, 75, 57, 0.7);
}

i.icon-cloud {
    color: #107dab;
}

i.icon-wind {
    color: #b9d9fb;
}

@media (max-width: 800px) {
    .weather-data {
        width: 90%;
    }
    
    .main-data {
        font-size: 32px;
    }
    
    .temp-id {
        font-size: 48px;
        top: 0px;
    }
    
    .other-data {
        text-align: center;
    }
    
    .main-temp, .second-temp {
        font-size: 24px;
        margin-left: 2px;
        bottom: 25px;
    }
    
    .wind, .cloud, .location {
        clear: both;
        margin: 10px auto;
        text-align: center;
    }
    
    .wind-data-image, .cloud-data-image, .location-data-image {
        margin-left: 0;
    }
}